.container {
  display: flex;
  width: 16rem;
  height: 16rem;
  padding: 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  border-radius: 16px;
  background: var(--color-white);
  text-decoration: none;
}

.container span {
  color: var(--color-gray);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
