.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 0 1rem;
}

.btn {
  display: flex;
  align-items: center;
}

.image {
  padding: 0;
}
