:root {
  /*COLORS*/
  --color-primary-black: #2e2e2e;
  --color-secondary-orange: #f8b602;
  --color-content-background: #f5f5f5;
  --color-white: #fff;
  --color-gray: #a098ae;
  --color-gray-2: #f5f5f5;
  --color-gray-3: #dbdbdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.mainContainer {
  display: grid;
  grid-template-columns: 15fr 70fr 25fr;
}

.leftSide {
  align-self: start;
}

.content {
  background-color: var(--color-content-background);
}
