.container {
  width: 100%;
  position: sticky;
  align-self: start;
  top: 0;
  padding-top: 3rem;
}

.sidebarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.goMealText {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary-black);
  margin-bottom: 6rem;
}

.goMealText span:last-child {
  color: var(--color-secondary-orange);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
