.container {
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: 5rem;
}

.sidebarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.goMealText {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary-black);
  margin-bottom: 6rem;
}

.goMealText span:last-child {
  color: var(--color-secondary-orange);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
